.projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

.projects-h {
    color: var(--red);
    margin: auto;
    font-weight: 500;
    margin-bottom: 2vh;
}

.card {
    width: auto;
    background-color: var(--blue) !important;
}