.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

.about-h {
    color: var(--red);
    margin: auto;
    font-weight: 500;
    margin-bottom: 2vh;
}

.about-hs {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 125%;
}

span {
    color: var(--orange);
}